# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

build --enable_platform_specific_config

build:linux   --config=clang  # On Linux, build with clang by default.

# Build with clang.
build:clang --repo_env=CC=clang
# This should be 'build:clang' as well, but then could no longer be overriden by
# --config=nvcc. See https://github.com/bazelbuild/bazel/issues/13603.
build:clang --cxxopt=-std=c++14 --host_cxxopt=-std=c++14

# Build with gcc (and nvcc if --config=cuda).
build:gcc --repo_env=CC=gcc
build:gcc --config=nvcc
build:gcc --cxxopt=-std=c++14 --host_cxxopt=-std=c++14
build:gcc --cxxopt=-Wno-maybe-uninitialized
build:gcc --cxxopt=-Wno-sign-compare

# Default to an optimized build.
# Override via: "-c dbg" or --compilation_mode=dbg
build --compilation_mode=opt

# Disable RTTI and exceptions
build:disable_rtti_and_exceptions --no//:rtti_and_exceptions

